<form action="documentary_films/create" method="get" >
<input name="name" value="name">
<input name="synopsis" value="synopisis">
<input name="director" value="director">
<input type="submit" value="Send"> 
</form>
